<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mercado Liebre</title>
</head>
<body>
    <header class="encabezado">
        <img src="/images/logo-mercado-liebre.svg" alt="logo mercado liebre">
        <div class="barraBusqueda">Lugar para poner la barra de búsqueda</div>
        <p>Comprá en cuotas y sin tarjeta de crédito</p>
        <nav class="navbar">
            <ul class="navbar__listashop">
                <li class="listashop__link"><a href="#">Ofertas</a></li>
                <li class="listashop__link"><a href="#">Tiendas Oficiales</a></li>
                <li class="listashop__link"><a href="#">Vender</a></li>
                <li class="listashop__link"><a href="#">Ayuda</a></li>
            </ul>
            <ul class="navbar__listauser">
                <li class="listauser__link"><a href="#">Creá tu cuenta</a></li>
                <li class="listauser__link"><a href="#">Ingresá</a></li>
                <li class="listauser__link"><a href="#">Mis Compras</a></li>
            </ul>
        </nav>
        <img src="/images/img-home-banner.jpg" alt="banner" width="100%">
    </header>
    <main class="cuerpo">

    </main>
    <footer class="pie">

    </footer>
</body>
</html>