<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mercado Liebre</title>
</head>
<body>
    <header class="encabezado">
        <img src="/images/logo-mercado-liebre.svg" alt="logo mercado liebre">
        <div class="barraBusqueda">Lugar para poner la barra de búsqueda</div>
        <p>Comprá en cuotas y sin tarjeta de crédito</p>
        <nav class="navbar">
            <ul class="navbar__listashop">
                <li class="listashop__link"><a href="#">Ofertas</a></li>
                <li class="listashop__link"><a href="#">Tiendas Oficiales</a></li>
                <li class="listashop__link"><a href="#">Vender</a></li>
                <li class="listashop__link"><a href="#">Ayuda</a></li>
            </ul>
            <ul class="navbar__listauser">
                <li class="listauser__link"><a href="#">Creá tu cuenta</a></li>
                <li class="listauser__link"><a href="#">Ingresá</a></li>
                <li class="listauser__link"><a href="#">Mis Compras</a></li>
            </ul>
        </nav>
        <img src="/images/img-home-banner.jpg" alt="banner" width="100%">
    </header>
    <main class="cuerpo">
        <section class="seccionProductos">
            <h3 class="seccionProductos__titulo">Basado en tu última visita</h3>
            <article class="seccionProductos__producto">
                <div>
                    <img src="/images/img-cafetera-moulinex.jpg" alt="cafetera moulinex">
                </div>
                <p class="producto__precio">$6.770</p>
                <p class="producto__descuento">40% OFF</p>
                <h4 class="producto__descripcion">Cafetera Moulinex</h4>
            </article>
            <article class="seccionProductos__producto">
                <div>
                    <img src="/images/img-macbook-pro-2019.jpg" alt="macbook pro">
                </div>
                <p class="producto__precio">$230.000</p>
                <p class="producto__descuento">20% off</p>
                <h4 class="producto__descripcion">MacBook Pro 2019</h4>
            </article>
            <article class="seccionProductos__producto">
                <div>
                    <img src="/images/img-samsung-galaxy-s10.jpg" alt="samsung galaxy s10">
                </div>
                <p class="producto__precio">$70.500</p>
                <p class="producto__descuento">10% off</p>
                <h4 class="producto__descripcion">Samsung Galaxy S10</h4>
            </article>
            <article class="seccionProductos__producto">
                <div>
                    <img src="/images/img-tv-samsung-smart.jpg" alt="smart tv samnsung 43 pulgadas">
                </div>
                <p class="producto__precio">$23.200</p>
                <p class="producto__descuento">5% off</p>
                <h4 class="producto__descripcion">SmartTv Samsung 43"</h4>
            </article>
        </section>
    </main>
    <footer class="pie">

    </footer>
</body>
</html>