*{
    box-sizing: border-box; 
}

body {
    font-family: "Roboto", sans-serif;
    color: #666;
    background-color: #ebebeb;
}

.encabezado {
    background-color: #EAC926;
    display: flex;
    justify-content: center;
}
.subEncabezado{
    width: 100%;
}
.encabezado__top{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
}

.encabezado__logo{
    width: 50%;
    max-width: 290px;
    padding: 30px 10px;
}

.padreBarraBusqueda{
    width: 50%;
    display: flex;
    justify-content: center;
}

.barraBusqueda{
    width: 80%;
}

.search__boton{
    padding: 1px;
}

.navbar__listashop,
.navbar__listauser{
    list-style-type:none;
    padding: 0;
    display: none;
}

a {
    text-decoration: none;
    color: black;
}

.textoCompra{
    text-align: center;
    color:black;
}
.navbar__burger-menu {
    display:flex;
    justify-content: center;
    margin-bottom: 15px;
}

.burger-menu{
    text-align: center;
    display:inline-block;
    color: white;
    background-color: #03264C;
    font-size: 1.5rem;
    border-radius: 4px;
    padding: 10px 12px;
}

.encabezado__banner{
    width: 100%;
}

main{
    width: 90%;
    margin: auto;
}

.seccionProductos{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: stretch;
}

.seccionProductos__producto{
    margin: 5px 0px;
}

.contenedor-imagen{
    display: flex;
}

.seccionProductos__titulo{
    font-size: 24px;
}

.producto__texto{
    border-top: 1px solid #ebebeb;
    padding: 15px;
    background-color: white;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    
}

.fa-truck{
    display: block;
    font-size: 16px;
    color: #39b54a;
    padding: 5px;
    width: 30px;
    height: 30px;
    border: 1px solid #39b54a;
    background-color: #FFF;
    border-radius: 50%;
    position: absolute;
    right: 20px;
    top: -15px;
    transition: all 500ms;
}

.fa-truck:hover{
    transform: rotate(-0.25turn);
}
    

.producto__precio{
    font-size: 18px;
    color: black;
    width: 30%;
}

.producto__descuento{
    font-size: 16px;
    text-align: center;
    color: #39b54a;
    width: 70%;
}
.producto__descripcion{
    font-size: 16px;
    font-weight: 400;
    display: none;
}

.producto__imagen{
    width: 100%;
}

.pie{
    text-align: center;
    background-color: white;
    
}

.pie__tarjeta,
.pie__envio,
.pie__seguridad{
    padding: 20px 80px;
}

.tarjeta__icono,
.envio__icono,
.seguridad__icono{
    color: #03264C;
    font-size: 36px;
    margin: 0;
}

.tarjeta__titulo,
.envio__titulo,
.seguridad__titulo{
    font-size: 24px;
    margin: 0px;
}

.pie__copyright{
    text-align: left;
    margin: 20px;
}
.subEncabezado,
.encabezado__top,
.navbar,
.encabezado__banner,
.cuerpo,
.pie__copyright,
.pie__envio,
.pie__seguridad,
.pie__tarjeta{
    max-width: 1200px;
}
.seccionProductos__producto:hover{
    box-shadow: 0px 0px 10px rgb(100, 100, 100);
    .producto__descripcion{
        display: block;
    }
}


@media (min-width: 361px){

    .seccionProductos__producto{
        width: 46%;
    }
    .producto__descuento{
        text-align: right;
    }
}

@media (min-width: 769px){
    .encabezado__top{
        flex-wrap: nowrap;
    }
    .seccionProductos__producto{
        width: 23%;
    }
    .textoCompra{
        width: 30%;
    }
    .padreBarraBusqueda{
        width: 40%;
        max-width: 330px;
    }
    .navbar,
    .navbar__listashop,
    .navbar__listauser{
        display: flex;
    }

    .navbar {
        justify-content: space-between;
        padding: 0px 15px;
    }

    .listashop__link,
    .listauser__link{
        margin: 0px 10px;
    }

    .navbar__burger-menu{
        display: none;
    }
    .pie__secciones{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }
    .pie__envio,
    .pie__seguridad,
    .pie__tarjeta{
        width: 30%;
    }

    .fa-credit-card,
    .fa-gift,
    .fa-user-shield{
        transition: color 200ms;
    }

    .fa-credit-card:hover,
    .fa-gift:hover,
    .fa-user-shield:hover{
        color: blue;
    }


}
@media (min-width: 1200px){
    body{
        display:flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    .pie {
        width: 1200px;
    }
    .encabezado{
        width: 100%;
    }
}